#listen-subs{
  margin-top:30px;
  font-size:34px;
  line-height:1.7;
  text-align:center;
}

.listen-line{
  color:#777;
}

.listen-active{
  color:#000;
  font-weight:bold;
}
 

.listen_a2 {
    text-decoration-color: rgb(79, 232, 84);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.listen_b1 {
    text-decoration-color: rgb(240, 199, 75);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.listen_b2 {
    text-decoration-color: rgb(238, 141, 61);
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}

.listen_c1 {
    text-decoration-color: rgb(246, 32, 32);
    text-decoration-line: underline;
    /*text-decoration-style: double;*/
    text-decoration-thickness: 2px;
}
.listen_c2 {
    text-decoration-color: rgb(124, 23, 225);
    text-decoration-line: underline;
    /*text-decoration-style: double;*/
    text-decoration-thickness: 4px;
}
.listen_other{
  text-decoration-color: rgb(119, 119, 119);
  text-decoration-line: underline;
}