#listen-subs{
  margin-top:30px;
  font-size:34px;
  line-height:1.7;
  text-align:center;
}

.listen-line{
  color:#777;
}

.listen-active{
  color:#000;
  font-weight:bold;
}
 

.listen_a2 {
    text-decoration-color: #68b46bff;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.listen_b1 {
    text-decoration-color: #f7bb5aff;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.listen_b2 {
    text-decoration-color: #db7d30ff;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.listen_c1, .listen_c2 {
    text-decoration-color: #be5c0bff;
    text-decoration-line: underline;
    /*text-decoration-style: double;*/
    text-decoration-thickness: 3px;
}
.listen_other{
  text-decoration-color: #3ffd05ff;
  text-decoration-line: underline;
}